/* Put nav buttons on one row, no text */
.nav-header {
  margin-left: 2px;
}

.nav-header .flex-1 {
  display: none
}

.nav-header .item {
  margin-left: 4px;
  padding: 2px !important;
}

.nav-header .ui__icon {
  margin-right: 0px !important;
}

.nav-header {
  flex-direction: row;
}

.flashcards-nav .inline-block {
  margin-left: 	2px;
  padding: 0px;
}


/* 修改字体 */
:root {
    --ct-code-font-family: ttf-lxgw-wenkai, Monaco, Menlo, Consolas, 'COURIER NEW', "等距更纱黑体 SC", monospace;
    --ls-font-family: 'fira sans', 'segoe UI Emoji', 'sarasa ui sc', sans-serif;
}

#root>div,
html,
body {
    font-family: var(--ls-font-family);
}

:not(pre)>code,
.CodeMirror {
    font-family: var(--ct-code-font-family);
}
