/* Put nav buttons on one row, no text */
.nav-header {
  margin-left: 2px;
}

.nav-header .flex-1 {
  display: none
}

.nav-header .item {
  margin-left: 4px;
  padding: 2px !important;
}

.nav-header .ui__icon {
  margin-right: 0px !important;
}

.nav-header {
  flex-direction: row;
}

.flashcards-nav .inline-block {
  margin-left: 	2px;
  padding: 0px;
}

.cp__sidebar-help-btn:hover /*右下角帮助按钮*/
.new-page:hover /*左下角新建页面按钮*/
.cp__header:hover /*左上角工具条*/
.cp__right-sidebar-topbar:hover /*右上角工具条*/
{opacity:1}
